# Data Types

## Primitive Data Types

### 1. Boolean type

In [4]:
x = True
x

True

In [5]:
y = 100 < 9
y

False

In [8]:
type(y) ## Boolean arithmetic and is often useful in programming

bool

In [9]:
x + y  ## In arithmetic expressions, True is converted to 1

1

In [2]:
True + True

2

In [3]:
False + False

0

In [17]:
bools = [True, True, False, True]
sum(bools)

3

In [11]:
x * y  ## and False is converted 0

0

### 2. Numbers data type

In [18]:
a, b = 1, 2
c, d = 2.5, 10.0 
type(a)

int

In [19]:
type(c)

float

Computers distinguish between the two because, while floats are more informative, arithmetic operations on integers are faster and more accurate

In [20]:
1/2 #  Python 3.x, division of integers yields floats

0.5

In [21]:
1//2 ## for integer return value

0

#### complex numbers

In [23]:
x = complex(1, 2)
y = complex(2, 1)
x * y

5j

In [28]:
z = complex(1, -3)
z
type(z)

complex

real - real part. If real is omitted, it defaults to 0.
imag - imaginary part. If imag is omitted, it default to 0.

## Containers

#### A related data type is tuples, which are “immutable” lists

In [32]:
y = 'a', 'b'  # Or no brackets --- the meaning is identicala
y

('a', 'b')

### compare with lists

In [41]:
x = [10, 'foo', False]  # We can include heterogeneous data inside a list
type(x)

list

In [37]:
x.append(2.5)
x

[10, 'foo', False, 2.5]

In [44]:
x.insert(0,1)
x

[1, 7, 10, 7, 'foo', False]

In [48]:
x = [1, 2] ## list 
x [0] = 10
x

[10, 2]

In [49]:
x = (1, 2) ## tuple 
x[0] = 10

TypeError: 'tuple' object does not support item assignment

### Tuples (and lists) can be “unpacked” as follows

In [51]:
integers = (10, 20, 30)
x, y, z = integers
x

10

In [52]:
from scipy.stats import norm
from scipy.integrate import quad

ϕ = norm()
value, error = quad(ϕ.pdf, -2, 2)  # Integrate using Gaussian quadrature
value

0.9544997361036417

In [53]:
a = [2, 4, 6, 8]
a[1:]

[4, 6, 8]

In [54]:
a[1:3]

[4, 6]

* The general rule is that `a[m:n]` returns `n - m` elements, starting at `a[m]`

* Negative numbers are also permissible

In [55]:
a[-2:]  # Last two elements of the list

[6, 8]

In [58]:
a[-1:]

[8]

In [56]:
a[2:]

[6, 8]

In [57]:
s = 'foobar'
s[-3:]  # Select the last three elements

'bar'

### Sets and Dictionaries

Dictionaries are much like lists, except that the items are named instead of numbered

In [59]:
d = {'name': 'Frodo', 'age': 33}
type(d)

dict

In [60]:
d['age']

33

The names `'name'` and `'age'` are called the keys

The objects that the keys are mapped to (`'Frodo'` and `33`) are called the values

Sets are unordered collections without duplicates, and `set` methods provide the usual set theoretic operations

In [61]:
s1 = {'a', 'b'}
type(s1)

set

In [62]:
s2 = {'b', 'c'}
s1.issubset(s2)

False

In [63]:
s2 = {'b', 'c'}
s1.intersection(s2)

{'b'}

The `set()` function creates sets from sequences

In [64]:
s3 = set(('foo', 'bar', 'foo'))
s3

{'bar', 'foo'}

In [65]:
%pwd

'/Users/shan/Downloads/CUMC Y1/python/Econ_python'

In [70]:
f = open('/Users/shan/Downloads/CUMC Y1/python/2.network programming in python/ballet.txt', 'w')
f.write('Testing\n')           # Here '\n' means new line
f.write('Testing again')
f.close()

In [72]:
f = open('/Users/shan/Downloads/CUMC Y1/python/2.network programming in python/ballet.txt', 'r')
out = f.read()
print(out)

Testing
Testing again

### Iterating

In [78]:
#### Looping over Different Objects
data_file = open('./data/us_cities.txt', 'r')
for line in data_file:
    city, population = line.split(':')         # Tuple unpacking
    city = city.title()                        # Capitalize city names
    population = f'{int(population):,}'        # Add commas to numbers
    print(city.ljust(15) + population)
data_file.close()

New York       8,244,910
Los Angeles    3,819,702
Chicago        2,707,120
Houston        2,145,146
Philadelphia   1,536,471
Phoenix        1,469,471
San Antonio    1,359,758
San Diego      1,326,179
Dallas         1,223,229

In [4]:
x_values = [1, 2, 3]  # Some iterable x
for x in x_values:
    print(x * x)

1
4
9

In [5]:
for i in range(len(x_values)):
    print(x_values[i] * x_values[i])

1
4
9

In [9]:
countries = ('Japan', 'Korea', 'China')
cities = ('Tokyo', 'Seoul', 'Beijing')
for country, city in zip(countries, cities):
    print(f'The capital of {country} is {city}')

The capital of Japan is Tokyo
The capital of Korea is Seoul
The capital of China is Beijing

One is *`zip( )`*, which is used for stepping through pairs from two sequences

In [10]:
professors = ('Xiuxiao Wang', 'Guowu Li', 'Jichao Wang')
Courses = ('Organization sociology', 'Economical Sociology', 'Enterpernuer')
for professors, Courses in zip(professors, Courses):
    print(f'The professor of {Courses} is {professors}')

The professor of Organization sociology is Xiuxiao Wang
The professor of Economical Sociology is Guowu Li
The professor of Enterpernuer is Jichao Wang

In [11]:
names = ['Tom', 'John']
marks = ['E', 'F']
dict(zip(names, marks))

{'Tom': 'E', 'John': 'F'}

In [14]:
letter_list = ['a', 'b', 'c']
for index, letter in enumerate(letter_list):
    print(f"letter_list[{index}] = '{letter}'")

letter_list[0] = 'a'
letter_list[1] = 'b'
letter_list[2] = 'c'

## Comparisons and Logical Operators

In [15]:
x, y = 1, 2
x < y

True

In [16]:
x > y

False

###  chain inequalities

In [17]:
1 < 2 < 3

True

In [18]:
1 <= 2 <= 3

True

In [19]:
x = 1    # Assignment
x == 2   # Comparison

False

In [21]:
x = 'yes' if 42 else 'no'
x

'yes'

In [22]:
x = 'yes' if [] else 'no'
x

'no'

###  Expressions that evaluate to zero, empty sequences or containers (strings, lists, etc.) and None are all equivalent to False

* for example, `[] `and` ()` are equivalent to False in an if clause
* All other values are equivalent to True

* for example, 42 is equivalent to True in an if clause